@import 'https://fonts.googleapis.com/css2?family=Mangueira:wght@300;400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap';
:root {
  --px-medium: 16px;
  --px-small: 14px;
  --px-x-small: 12px;
  --px-2x-small: 10px;
  --px-3x-small: 8px;
  --px-4x-small: 4px;
  --px-large: 20px;
  --px-x-large: 24px;
  --px-2x-large: 28px;
  --px-3x-large: 32px;
  --px-4x-large: 36px;
  --px-5x-large: 40px;
  --px-6x-large: 44px;
  --px-full: 100px;
  --rem-medium: 1rem;
  --rem-small: 0.875rem;
  --rem-x-small: 0.75rem;
  --rem-2x-small: 0.625rem;
  --rem-3x-small: 0.5rem;
  --rem-4x-small: 0.25rem;
  --rem-large: 1.25rem;
  --rem-x-large: 1.5rem;
  --rem-2x-large: 1.75rem;
  --rem-3x-large: 2rem;
  --rem-4x-large: 2.25rem;
  --rem-5x-large: 2.5rem;
  --rem-6x-large: 2.75rem;
  --breakpoint-medium: 65rem;
  --breakpoint-small: 48rem;
  --breakpoint-x-small: 30.625rem;
  --breakpoint-large: 75rem;
  --breakpoint-x-large: 90rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --radius-medium: 24px;
  --radius-small: 16px;
  --radius-x-small: 8px;
  --radius-2x-small: 4px;
  --radius-large: 32px;
  --radius-x-large: 40px;
  --radius-full: 100px;
  --z-index-default: 1;
  --z-index-docked: 4;
  --z-index-sticky: 100;
  --z-index-dialog: 600;
  --z-index-dropdown: 700;
  --z-index-overlay: 800;
  --z-index-modal: 900;
  --z-index-toast: 1000;
  --z-index-deepdive: -9999;

  --font-size-base: 16px;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --font-size-x-small: 0.75rem;
  --font-size-2x-small: 0.625rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 1.5rem;
  --font-size-2x-large: 1.75rem;
  --font-size-3x-large: 2rem;
  --font-size-4x-large: 2.25rem;
  --font-size-5x-large: 2.5rem;
  --font-size-6x-large: 2.75rem;
  --line-height-medium: 160%;
  --line-height-small: 140%;
  --line-height-x-small: 125%;
  --line-height-large: 180%;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-100: #f1f8fe;
  --color-grey-200: #eaf3fa;
  --color-grey-300: #dae7f1;
  --color-grey-400: #c1d3e1;
  --color-grey-500: #b1c4d3;
  --color-grey-600: #7997af;
  --color-grey-700: #506e86;
  --color-grey-800: #3d5466;
  --color-grey-900: #2e3f4d;
  --color-blue-100: #99d1ff;
  --color-blue-200: #80c6ff;
  --color-blue-300: #70b0ff;
  --color-blue-400: #52a0ff;
  --color-blue-500: #2ea1ff;
  --color-blue-600: #1f71d6;
  --color-blue-700: #195cae;
  --color-blue-800: #002c61;
  --color-green-100: #def8eb;
  --color-green-200: #c4f2db;
  --color-green-300: #a3ebc7;
  --color-green-400: #8ee6ba;
  --color-green-500: #6fce9e;
  --color-green-600: #63bf91;
  --color-green-700: #5cb287;
  --color-green-800: #46aa78;
  --color-green-900: #3e986b;
  --color-yellow-100: #fffbd6;
  --color-yellow-200: #fff8bd;
  --color-yellow-300: #fff280;
  --color-yellow-400: #ffed4d;
  --color-yellow-500: #f5dc00;
  --color-yellow-600: #bb8602;
  --color-yellow-700: #a15a02;
  --color-yellow-800: #813603;
  --color-yellow-900: #661c05;
  --color-red-100: #f5cccc;
  --color-red-200: #ec9c9c;
  --color-red-300: #e26969;
  --color-red-400: #d55d5d;
  --color-red-500: #d03e4d;
  --color-red-600: #bf313f;
  --color-red-700: #aa2738;
  --color-red-800: #8c2133;
  --color-red-900: #7c1d30;
  --color-pink-100: #ffcdc7;
  --color-pink-200: #ffa399;
  --color-pink-300: #ff7566;
  --color-pink-400: #ff5542;
  --color-pink-500: #ff1a53;
  --color-pink-600: #e31c5e;
  --color-pink-700: #cd1d64;
  --color-pink-800: #b61b63;
  --color-pink-900: #a81a63;
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-700);
  --color-primary-active: var(--color-blue-300);
  --color-primary-focus: var(--color-blue-300);
  --color-primary-dark: var(--color-blue-700);
  --color-primary-light: var(--color-blue-300);
  --color-secondary: var(--color-blue-200);
  --color-secondary-hover: var(--color-blue-300);
  --color-secondary-active: var(--color-blue-600);
  --color-secondary-focus: var(--color-blue-600);
  --color-secondary-dark: var(--color-blue-700);
  --color-secondary-light: var(--color-blue-300);
  --color-success: var(--color-green-500);
  --color-success-hover: var(--color-green-300);
  --color-success-active: var(--color-green-300);
  --color-success-focus: var(--color-green-700);
  --color-success-dark: var(--color-green-800);
  --color-success-light: var(--color-green-300);
  --color-danger: var(--color-red-500);
  --color-danger-hover: var(--color-red-600);
  --color-danger-active: var(--color-red-300);
  --color-danger-focus: var(--color-red-300);
  --color-danger-dark: var(--color-red-800);
  --color-danger-light: var(--color-red-300);
  --color-warning: var(--color-yellow-500);
  --color-warning-hover: var(--color-yellow-400);
  --color-warning-active: var(--color-yellow-300);
  --color-warning-focus: var(--color-yellow-300);
  --color-warning-dark: var(--color-yellow-800);
  --color-warning-light: var(--color-yellow-300);
  --color-info: var(--color-blue-400);
  --color-info-hover: var(--color-blue-200);
  --color-info-active: var(--color-blue-500);
  --color-info-focus: var(--color-blue-500);
  --color-info-dark: var(--color-blue-700);
  --color-info-light: var(--color-blue-300);
  --color-highlight: var(--color-pink-500);
  --color-highlight-hover: var(--color-pink-600);
  --color-highlight-active: var(--color-pink-300);
  --color-highlight-focus: var(--color-pink-300);
  --color-highlight-dark: var(--color-pink-800);
  --color-highlight-light: var(--color-pink-400);
  --color-feature: var(--color-blue-300);
  --color-feature-hover: var(--color-blue-500);
  --color-feature-active: var(--color-blue-800);
  --color-feature-focus: var(--color-blue-800);
  --color-feature-dark: var(--color-blue-800);
  --color-feature-light: var(--color-blue-300);
  --color-text: var(--color-grey-800);
  --color-text-dark: var(--color-grey-900);
  --color-text-light: var(--color-grey-600);
  --color-text-disabled: var(--color-grey-400);
  --color-surface-foreground: var(--color-white);
  --color-surface-background: var(--color-grey-200);
  --color-surface-disabled: var(--color-grey-400);
  --color-background-disabled: var(--color-grey-500);
  --border-size: 1px;
  --border-style: solid;
  --border-color: var(--color-grey-300);
  --border-color-hover: var(--color-hover);
  --border-color-active: var(--color-active);
  --border-color-focus: var(--color-focus);
  --border-color-disabled: var(--color-surface-disabled);
  --border-color-primary: var(--color-primary);
  --border-color-primary-hover: var(--color-primary-hover);
  --border-color-primary-active: var(--color-primary-active);
  --border-color-primary-focus: var(--color-primary-focus);
  --border-color-secondary: var(--color-secondary);
  --border-color-secondary-hover: var(--color-secondary-hover);
  --border-color-secondary-active: var(--color-secondary-active);
  --border-color-secondary-focus: var(--color-secondary-focus);
  --border-color-highlight: var(--color-highlight);
  --border-color-highlight-hover: var(--color-highlight-hover);
  --border-color-highlight-active: var(--color-highlight-active);
  --border-color-highlight-focus: var(--color-highlight-focus);
  --border-color-success: var(--color-success);
  --border-color-success-hover: var(--color-success-hover);
  --border-color-success-active: var(--color-success-active);
  --border-color-success-focus: var(--color-success-focus);
  --border-color-danger: var(--color-danger);
  --border-color-danger-hover: var(--color-danger-hover);
  --border-color-danger-active: var(--color-danger-active);
  --border-color-danger-focus: var(--color-danger-focus);
  --border-color-warning: var(--color-warning);
  --border-color-warning-hover: var(--color-warning-hover);
  --border-color-warning-active: var(--color-warning-active);
  --border-color-warning-focus: var(--color-warning-focus);
  --border-color-info: var(--color-info);
  --border-color-info-hover: var(--color-info-hover);
  --border-color-info-active: var(--color-info-active);
  --border-color-info-focus: var(--color-info-focus);
  --button-font-family: var(--font-family-secondary);
  --button-font-size-small: var(--font-size-x-small);
  --button-font-size-medium: var(--font-size-small);
  --button-font-size-large: var(--font-size-medium);
  --button-spacing-small: var(--spacing-3) var(--spacing-3);
  --button-spacing-medium: var(--spacing-3) var(--spacing-4);
  --button-spacing-large: var(--spacing-3) var(--spacing-6);
  --button-border-radius-small: var(--radius-2x-small);
  --button-border-radius-medium: var(--radius-x-small);
  --button-border-radius-large: var(--radius-small);
  --button-border-radius-full: var(--radius-full);
  --button-border-size: var(--border-size);
  --button-border-style: var(--border-style);
  --button-color-background-primary: var(--color-primary);
  --button-color-background-hover-primary: var(--color-primary-hover);
  --button-color-background-active-primary: var(--color-primary-active);
  --button-color-background-focus-primary: var(--color-primary-focus);
  --button-color-foreground-primary: var(--color-white);
  --button-color-foreground-disabled-primary: var(--color-surface-disabled);
  --button-color-foreground-hover-primary: var(--color-white);
  --button-color-foreground-active-primary: var(--color-primary-hover);
  --button-color-foreground-focus-primary: var(--color-primary-hover);
  --button-color-border-primary: var(--color-primary);
  --button-color-border-disabled-primary: var(--color-foreground-disabled);
  --button-color-border-hover-primary: var(--color-primary-hover);
  --button-color-border-active-primary: var(--color-primary-active);
  --button-color-border-focus-primary: var(--color-primary-focus);
  --button-color-background-secondary: var(--color-secondary);
  --button-color-background-disabled-secondary: var(
    --color-background-disabled
  );
  --button-color-background-hover-secondary: var(--color-secondary-hover);
  --button-color-background-active-secondary: var(--color-secondary-active);
  --button-color-background-focus-secondary: var(--color-secondary-focus);
  --button-color-foreground-secondary: var(--color-white);
  --button-color-foreground-disabled-secondary: var(
    --color-foreground-disabled
  );
  --button-color-foreground-hover-secondary: var(--color-white);
  --button-color-foreground-active-secondary: var(--color-secondary-hover);
  --button-color-foreground-focus-secondary: var(--color-secondary-hover);
  --button-color-border-secondary: var(--color-secondary);
  --button-color-border-disabled-secondary: var(--color-foreground-disabled);
  --button-color-border-hover-secondary: var(--color-secondary-hover);
  --button-color-border-active-secondary: var(--color-secondary-hover);
  --button-color-border-focus-secondary: var(--color-primary-focus);
  --button-color-background-outline: transparent;
  --button-color-background-disabled-outline: transparent;
  --button-color-background-hover-outline: transparent;
  --button-color-background-active-outline: transparent;
  --button-color-background-focus-outline: transparent;
  --button-color-foreground-outline: var(--color-primary);
  --button-color-foreground-disabled-outline: var(--color-surface-disabled);
  --button-color-foreground-hover-outline: var(--color-primary-hover);
  --button-color-foreground-active-outline: var(--color-primary-active);
  --button-color-foreground-focus-outline: var(--color-primary-focus);
  --button-color-border-outline: var(--color-primary);
  --button-color-border-disabled-outline: var(--color-surface-disabled);
  --button-color-border-hover-outline: var(--color-primary-hover);
  --button-color-border-active-outline: var(--color-primary-active);
  --button-color-border-focus-outline: var(--color-primary-focus);
  --button-color-background-highlight: var(--color-highlight);
  --button-color-background-disabled-highlight: var(
    --color-background-disabled
  );
  --button-color-background-hover-highlight: var(--color-highlight-hover);
  --button-color-background-active-highlight: var(--color-highlight-active);
  --button-color-background-focus-highlight: var(--color-highlight-focus);
  --button-color-foreground-highlight: var(--color-white);
  --button-color-foreground-disabled-highlight: var(
    --color-foreground-disabled
  );
  --button-color-foreground-hover-highlight: var(--color-white);
  --button-color-foreground-active-highlight: var(--color-highlight-hover);
  --button-color-foreground-focus-highlight: var(--color-highlight-hover);
  --button-color-border-highlight: var(--color-highlight);
  --button-color-border-disabled-highlight: var(--color-foreground-disabled);
  --button-color-border-hover-highlight: var(--color-highlight-hover);
  --button-color-border-active-highlight: var(--color-highlight-hover);
  --button-color-border-focus-highlight: var(--color-highlight-focus);
  --button-color-background-link: transparent;
  --button-color-background-disabled-link: transparent;
  --button-color-background-hover-link: transparent;
  --button-color-background-active-link: transparent;
  --button-color-background-focus-link: transparent;
  --button-color-foreground-link: var(--color-primary);
  --button-color-foreground-disabled-link: var(--color-foreground-disabled);
  --button-color-foreground-hover-link: var(--color-primary-hover);
  --button-color-foreground-active-link: var(--color-primary-active);
  --button-color-foreground-focus-link: var(--color-primary-focus);
  --button-color-border-link: transparent;
  --button-color-border-disabled-link: transparent;
  --button-color-border-hover-link: transparent;
  --button-color-border-active-link: transparent;
  --button-color-border-focus-link: transparent;
  --button-color-background-success: var(--color-success);
  --button-color-background-disabled-success: var(--color-background-disabled);
  --button-color-background-hover-success: var(--color-success-hover);
  --button-color-background-active-success: var(--color-success-active);
  --button-color-background-focus-success: var(--color-success-focus);
  --button-color-foreground-success: var(--color-white);
  --button-color-foreground-disabled-success: var(--color-foreground-disabled);
  --button-color-foreground-hover-success: var(--color-white);
  --button-color-foreground-active-success: var(--color-white);
  --button-color-foreground-focus-success: var(--color-white);
  --button-color-border-success: var(--color-success);
  --button-color-border-disabled-success: var(--color-foreground-disabled);
  --button-color-border-hover-success: var(--color-success-hover);
  --button-color-border-active-success: var(--color-success-active);
  --button-color-border-focus-success: var(--color-success-focus);
  --button-color-background-danger: var(--color-danger);
  --button-color-background-disabled-danger: var(--color-background-disabled);
  --button-color-background-hover-danger: var(--color-danger-hover);
  --button-color-background-active-danger: var(--color-danger-active);
  --button-color-background-focus-danger: var(--color-danger-focus);
  --button-color-foreground-danger: var(--color-white);
  --button-color-foreground-disabled-danger: var(--color-foreground-disabled);
  --button-color-foreground-hover-danger: var(--color-white);
  --button-color-foreground-active-danger: var(--color-white);
  --button-color-foreground-focus-danger: var(--color-white);
  --button-color-border-danger: var(--color-danger);
  --button-color-border-disabled-danger: var(--color-foreground-disabled);
  --button-color-border-hover-danger: var(--color-danger-hover);
  --button-color-border-active-danger: var(--color-danger-active);
  --button-color-border-focus-danger: var(--color-danger-focus);
  --button-color-background-warning: var(--color-warning);
  --button-color-background-disabled-warning: var(--color-background-disabled);
  --button-color-background-hover-warning: var(--color-warning-hover);
  --button-color-background-active-warning: var(--color-warning-active);
  --button-color-background-focus-warning: var(--color-warning-focus);
  --button-color-foreground-warning: var(--color-white);
  --button-color-foreground-disabled-warning: var(--color-foreground-disabled);
  --button-color-foreground-hover-warning: var(--color-white);
  --button-color-foreground-active-warning: var(--color-white);
  --button-color-foreground-focus-warning: var(--color-white);
  --button-color-border-warning: var(--color-warning);
  --button-color-border-disabled-warning: var(--color-foreground-disabled);
  --button-color-border-hover-warning: var(--color-warning-hover);
  --button-color-border-active-warning: var(--color-warning-active);
  --button-color-border-focus-warning: var(--color-warning-focus);
  --button-color-background-info: var(--color-info);
  --button-color-background-disabled-info: var(--color-background-disabled);
  --button-color-background-hover-info: var(--color-info-hover);
  --button-color-background-active-info: var(--color-info-active);
  --button-color-background-focus-info: var(--color-info-focus);
  --button-color-foreground-info: var(--color-white);
  --button-color-foreground-disabled-info: var(--color-foreground-disabled);
  --button-color-foreground-hover-info: var(--color-white);
  --button-color-foreground-active-info: var(--color-white);
  --button-color-foreground-focus-info: var(--color-white);
  --button-color-border-info: var(--color-info);
  --button-color-border-disabled-info: var(--color-foreground-disabled);
  --button-color-border-hover-info: var(--color-info-hover);
  --button-color-border-active-info: var(--color-info-active);
  --button-color-border-focus-info: var(--color-info-focus);
  --input-font-family: var(--font-family-secondary);
  --input-font-size-small: var(--font-size-x-small);
  --input-font-size-medium: var(--font-size-small);
  --input-font-size-large: var(--font-size-medium);
  --input-spacing-small: var(--spacing-3) var(--spacing-3);
  --input-spacing-medium: var(--spacing-3) var(--spacing-4);
  --input-spacing-large: var(--spacing-3) var(--spacing-6);
  --input-border-radius-small: var(--radius-2x-small);
  --input-border-radius-medium: var(--radius-x-small);
  --input-border-radius-large: var(--radius-small);
  --input-border-radius-full: var(--radius-full);
  --input-border-size: var(--border-size);
  --input-border-style: var(--border-style);
  --input-color: var(--color-text);
  --input-color-background: var(--color-white);
  --input-color-placeholder: var(--color-grey-500);
  --input-color-read-only: var(--color-grey-500);
  --input-color-read-only-border: var(--color-grey-500);
  --input-color-read-only-background: var(--color-background-disabled);
  --input-color-surface-disabled: var(--color-surface-disabled);
  --input-color-background-disabled: var(--color-background-disabled);
  --input-color-border-disabled: var(--color-surface-disabled);
  --input-color-border-neutral: var(--color-grey-300);
  --input-color-border-hover-neutral: var(--color-surface-hover);
  --input-color-border-active-neutral: var(--color-surface-active);
  --input-color-border-focus-neutral: var(--color-surface-focus);
  --input-color-border-primary: var(--color-primary);
  --input-color-border-disabled-primary: var(--color-foreground-disabled);
  --input-color-border-hover-primary: var(--color-primary-hover);
  --input-color-border-active-primary: var(--color-primary-active);
  --input-color-border-focus-primary: var(--color-primary-focus);
  --input-color-border-secondary: var(--color-secondary);
  --input-color-border-disabled-secondary: var(--color-foreground-disabled);
  --input-color-border-hover-secondary: var(--color-secondary-hover);
  --input-color-border-active-secondary: var(--color-secondary-active);
  --input-color-border-focus-secondary: var(--color-secondary-focus);
  --input-color-border-success: var(--color-success);
  --input-color-border-disabled-success: var(--color-foreground-disabled);
  --input-color-border-hover-success: var(--color-success-hover);
  --input-color-border-active-success: var(--color-success-active);
  --input-color-border-focus-success: var(--color-success-focus);
  --input-color-border-danger: var(--color-danger);
  --input-color-border-disabled-danger: var(--color-foreground-disabled);
  --input-color-border-hover-danger: var(--color-danger-hover);
  --input-color-border-active-danger: var(--color-danger-active);
  --input-color-border-focus-danger: var(--color-danger-focus);
  --input-color-border-warning: var(--color-warning);
  --input-color-border-disabled-warning: var(--color-foreground-disabled);
  --input-color-border-hover-warning: var(--color-warning-hover);
  --input-color-border-active-warning: var(--color-warning-active);
  --input-color-border-focus-warning: var(--color-warning-focus);
  --input-color-border-info: var(--color-info);
  --input-color-border-disabled-info: var(--color-foreground-disabled);
  --input-color-border-hover-info: var(--color-info-hover);
  --input-color-border-active-info: var(--color-info-active);
  --input-color-border-focus-info: var(--color-info-focus);
}
